<a href="https://colab.research.google.com/github/Aarav-H/egd-assignment/blob/master/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [3]:
import sys
sys.path.append('/content/drive/MyDrive')

In [95]:
import pandas as pd
import math

In [102]:
df = pd.read_excel("/content/drive/MyDrive/worldbank_data_india_raw.xlsx")

In [103]:
df

,Country Name,Country Code,Series Name,Series Code,1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,143.456125,163.231616,157.929385,161.137236,186.41909,206.073749,...,1.438057e+03,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.913220e+03,2.238127e+03,2.410888e+03
1,India,IND,Gross domestic savings (current US$),NY.GDS.TOTL.CD,10335426688.286913,9715185336.526405,12582599077.819124,15624040574.829666,17681118927.4501,19238065099.558868,...,5.952477e+11,6.409265e+11,6.429498e+11,6.975304e+11,8.089025e+11,8.078640e+11,7.964094e+11,7.244226e+11,8.726142e+11,9.942097e+11
2,India,IND,"Labor force, total",SL.TLF.TOTL.IN,..,..,..,..,..,..,...,4.765742e+08,4.767786e+08,4.766815e+08,4.764393e+08,4.758947e+08,4.747307e+08,5.010440e+08,4.969255e+08,5.077049e+08,5.238392e+08
3,India,IND,Military expenditure (current USD),MS.MIL.XPND.CD,2529921054.3991,2895415720.35154,3323646800.51911,3294910612.34921,3477080944.50128,3975819129.87438,...,4.740353e+10,5.091410e+10,5.129548e+10,5.663762e+10,6.455944e+10,6.625780e+10,7.146890e+10,7.293706e+10,7.634854e+10,8.136319e+10
4,India,IND,"Net trade in goods and services (BoP, current ...",BN.GSR.GNFS.CD,..,..,-500017600.21568,702501190.097607,962429102.009109,-832488641.162019,...,-9.213505e+10,-6.796981e+10,-6.324917e+10,-4.157921e+10,-7.221161e+10,-1.059177e+11,-7.345167e+10,-8.342168e+09,-7.403937e+10,-1.346610e+11
5,India,IND,Consumer price index (2010 = 100),FP.CPI.TOTL,5.899724,7.58697,8.023102,7.410622,8.026258,8.228764,...,1.311804e+02,1.399244e+02,1.467905e+02,1.540540e+02,1.591812e+02,1.654511e+02,1.716216e+02,1.829888e+02,1.923787e+02,2.052662e+02
6,India,IND,"Foreign direct investment, net (BoP, current US$)",BN.KLT.DINV.CD,..,..,10326246.705164,7706430.542574,..,..,...,-2.638808e+10,-2.289016e+10,-3.649522e+10,-3.941128e+10,-2.887594e+10,-3.069966e+10,-3.746995e+10,-5.323970e+10,-2.748854e+10,-3.540801e+10

In [104]:
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]', '1976 [YR1976]',
       '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]', '1980 [YR1980]',
       '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]', '1984 [YR1984]',
       '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]', '1988 [YR1988]',
       '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]',
       '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]', '1996 [YR1996]',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
       '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]',
       '2021 [YR2021]', '2022 [YR2022]'],
      dtype='object')

In [108]:
columns_delete=["Country Name", "Country Code", "Series Code",
       "1973 [YR1973]", "1974 [YR1974]", "1975 [YR1975]", "1976 [YR1976]",
       "1977 [YR1977]", "1978 [YR1978]", "1979 [YR1979]", "1980 [YR1980]",
       "1981 [YR1981]", "1982 [YR1982]", "1983 [YR1983]", "1984 [YR1984]",
       "1985 [YR1985]", "1986 [YR1986]", "1987 [YR1987]", "1988 [YR1988]",
       "1989 [YR1989]"]

In [109]:
df=df.drop(columns=columns_delete)
df

,Series Name,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,GDP per capita (current US$),368.749759,3.038504e+02,3.175587e+02,3.015008e+02,3.462274e+02,3.736282e+02,3.995773e+02,4.148987e+02,4.125094e+02,...,1.438057e+03,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.913220e+03,2.238127e+03,2.410888e+03
1,Gross domestic savings (current US$),69457853636.794159,5.916171e+10,6.726954e+10,6.576233e+10,8.091348e+10,9.280600e+10,9.867170e+10,1.042141e+11,1.023099e+11,...,5.952477e+11,6.409265e+11,6.429498e+11,6.975304e+11,8.089025e+11,8.078640e+11,7.964094e+11,7.244226e+11,8.726142e+11,9.942097e+11
2,"Labor force, total",292728665,2.997470e+08,3.069364e+08,3.143329e+08,3.220252e+08,3.331113e+08,3.445576e+08,3.563506e+08,3.684714e+08,...,4.765742e+08,4.767786e+08,4.766815e+08,4.764393e+08,4.758947e+08,4.747307e+08,5.010440e+08,4.969255e+08,5.077049e+08,5.238392e+08
3,Military expenditure (current USD),10537035450.052799,8.622474e+09,8.083231e+09,8.253543e+09,8.880551e+09,9.754465e+09,9.904673e+09,1.146488e+10,1.192061e+10,...,4.740353e+10,5.091410e+10,5.129548e+10,5.663762e+10,6.455944e+10,6.625780e+10,7.146890e+10,7.293706e+10,7.634854e+10,8.136319e+10
4,"Net trade in goods and services (BoP, current ...",-6615557120.095,-4.011562e+09,-4.712170e+09,-3.482053e+09,-6.311718e+09,-1.021186e+10,-1.398431e+10,-1.336013e+10,-1.360102e+10,...,-9.213505e+10,-6.796981e+10,-6.324917e+10,-4.157921e+10,-7.221161e+10,-1.059177e+11,-7.345167e+10,-8.342168e+09,-7.403937e+10,-1.346610e+11
5,Consumer price index (2010 = 100),22.949008,2.613209e+01,2.921249e+01,3.106074e+01,3.424382e+01,3.774521e+01,4.113366e+01,4.408058e+01,4.991281e+01,...,1.311804e+02,1.399244e+02,1.467905e+02,1.540540e+02,1.591812e+02,1.654511e+02,1.716216e+02,1.829888e+02,1.923787e+02,2.052662e+02
6,"Foreign direct investment, net (BoP, current US$)",..,-7.353764e+07,-2.765124e+08,-5.500194e+08,-8.906882e+08,-2.026439e+09,-2.186732e+09,-3.464411e+09,-2.587059e+09,...,-2.638808e+10,-2.289016e+10,-3.649522e+10,-3.941128e+10,-2.887594e+10,-3.069966e+10,-3.746995e+10,-5.323970e+10,-2.748854e+10,-3.540801e+10

In [110]:
df=df.transpose()
df

,0,1,2,3,4,5,6
Series Name,GDP per capita (current US$),Gross domestic savings (current US$),"Labor force, total",Military expenditure (current USD),"Net trade in goods and services (BoP, current ...",Consumer price index (2010 = 100),"Foreign direct investment, net (BoP, current US$)"
1990 [YR1990],368.749759,69457853636.794159,292728665,10537035450.052799,-6615557120.095,22.949008,..
1991 [YR1991],303.850438,59161712842.495087,299747014.0,8622473881.38455,-4011561595.14451,26.132091,-73537638.388533
1992 [YR1992],317.558739,67269535683.791504,306936389.0,8083231409.70982,-4712170094.93306,29.212495,-276512438.973893
1993 [YR1993],301.500791,65762333416.718864,314332865.0,8253542581.485109,-3482052608.17945,31.060737,-550019384.367517
1994 [YR1994],346.227393,80913476913.914078,322025243.0,8880551226.026901,-6311718422.51495,34.243821,-890688166.019256
1995 [YR1995],373.628236,92805995639.139603,333111281.0,9754464629.8929,-10211864221.3869,37.745213,-2026439031.09277
1996 [YR1996],399.577312,98671695245.774216,344557635.0,9904672736.30381,-13984314681.2341,41.133658,-2186732315.37831
1997 [YR1997],414.89868,104214088705.901306,356350640.0,11464883389.832399,-13360131754.4659,44.080577,-3464411051.97412
1998 [YR1998],412.509354,102309898627.309601,368471401.0,11920610818.3832,-13601016314.315901,49.912808,-2587058630.28267
1999 [YR1999],440.961455,109268191820.778961,380920030.0,13895562461.387001,-11441228840.35,52.243646,-2089233597.0623
2000 [YR2000],442.034779,113881720086.241806,393669897.0,14287514240.703501,-13143494265.9042,54.338322,-3074684332.47754
2001 [YR2001],449.911125,116950957382.122543,399564197.0,14600642346.099699,-9180938408.722839,56.391926,-4073961343.30435
2002 [YR2002],468.844428,132113809602.508774,405389781.0,14749667251.5907,-5122207191.98701,58.815173,-3947895991.54349
2003 [YR2003],543.843799,167846740003.264252,411069163.0,16333986643.282,-8164091361.14741,61.053595,-2444138426.15877
2004 [YR2004],624.105094,221564587063.059998,416629768.0,20238566526.5411,-14960253367.710501,63.353638,-3592188066.40631
2005 [YR2005],710.509345,264615149027.863098,421959547.0,23072312925.170101,-27276336270.911098,66.043851,-4628652265.34265
2006 [YR2006],802.013742,320511880595.365723,431250073.0,23951927958.152199,-31769964257.365101,69.872099,-5992285935.49798
2007 [YR2007],1022.732467,418282026400.605835,440568412.0,28254773450.064697,-38703712438.717697,74.324964,-8201628957.6202
2008 [YR2008],993.503405,393054208956.864624,449860965.0,33002376727.3797,-74360043516.285904,80.530554,-24149749829.708801
2009 [YR2009],1096.636136,437193075448.453064,459168942.0,38722154392.184296,-67410018791.403198,89.294173,-19485789182.687801
2010 [YR2010],1350.63447,574192124062.504028,468646281.0,46090445656.500298,-91023662478.720306,100.0,-11428785745.784401
2011 [YR2011],1449.603301,596289623196.743896,472419461.0,49633815793.702698,-106686782608.973999,108.911793,-23890659988.138
2012 [YR2012],1434.017987,600473802830.864258,476025371.0,47216920048.2061,-136063399026.175003,119.235539,-15442447342.912001
2013 [YR2013],1438.057005,595247717838.744629,476574166.0,47403528801.4226,-92135051692.141098,131.18041,-26388082470.287201
2014 [YR2014],1559.863779,640926532263.060425,476778623.0,50914096277.083,-67969807623.770302,139.924446,-22890162761.0214
2015 [YR2015],1590.174331,642949754224.943237,476681505.0,51295483753.943596,-63249171394.849503,146.790502,-36495216490.724197
2016 [YR2016],1714.279537,697530378431.534668,476439285.0,56637622640.8741,-41579206265.014297,154.054013,-39411278940.253799
2017 [YR2017],1957.969813,808902524199.056519,475894660.0,64559435280.692696,-72211612625.339798,159.181198,-28875941053.314301
2018 [YR2018],1974.377731,807864008659.194458,474730667.0,66257801718.275002,-105917684940.610992,165.451069,-30699661201.025799
2019 [YR2019],2050.1638,796409418155.254883,501044031.0,71468900524.304108,-73451671322.5905,171.621576,-37469945322.015198
2020 [YR2020],1913.219733,724422610216.689941,496925540.0,72937064047.799301,-8342168263.99664,182.988823,-53239697390.824203
2021 [YR2021],2238.127142,872614153585.03894,507704858.0,76348538793.920898,-74039374427.902405,192.378725,-27488543123.438
2022 [YR2022],2410.888021,994209659577.03186,523839158.0,81363188268.803391,-134660965222.852997,205.266241,-35408008686.026901

In [133]:
df.columns
df.head()
type(df[0])

pandas.core.series.Series

In [142]:
import numpy as np
label = "GDP per capita (current US$)"
df[0][0] = 1

In [143]:
#df[0] = df[0].apply(lambda x: math.log(x))
df[0] = np.log(np.array(df[0], dtype=np.float64))

<ipython-input-143-7dd462f0b51a>:2: RuntimeWarning: divide by zero encountered in log
  df[0] = np.log(np.array(df[0], dtype=np.float64))

In [144]:
df[0][0] = label
df.head()

<ipython-input-144-a9769b9509c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0][0] = label

,0,1,2,3,4,5,6
Series Name,GDP per capita (current US$),Gross domestic savings (current US$),"Labor force, total",Military expenditure (current USD),"Net trade in goods and services (BoP, current ...",Consumer price index (2010 = 100),"Foreign direct investment, net (BoP, current US$)"
1990 [YR1990],-inf,69457853636.794159,292728665,10537035450.052799,-6615557120.095,22.949008,..
1991 [YR1991],-inf,59161712842.495087,299747014.0,8622473881.38455,-4011561595.14451,26.132091,-73537638.388533
1992 [YR1992],-inf,67269535683.791504,306936389.0,8083231409.70982,-4712170094.93306,29.212495,-276512438.973893
1993 [YR1993],-inf,65762333416.718864,314332865.0,8253542581.485109,-3482052608.17945,31.060737,-550019384.367517